@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* sets margin for entire app .content in Layout <div> direct child to <body> */
.content {
  max-width: 960px;
  margin: 0 auto;
}

/*  sets margin for navBar */
nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* border-bottom: 1px solid #ddd; */
}

/* pushes all links to the left of page */
nav .nav__link {
  margin-left: 12px;
}

/* pushes logo to the right of page */
nav .logo {
  margin-right: auto;
}

footer {
  display: block;
  text-align: left;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}